# Allow-list
!*.yaml
!.gitignore
!*.md
!.HA_VERSION
!LICENSE

# Disallow files
secrets.yaml
known_devices.yaml
security_system.yaml
.ps4*
id_rsa*

#Disallow config files
logs
*.log
__pycache__
*.pyc
home-assistant.*

# Disallow folders
.storage/*
.cloud
.ssh/
image
tts
custom_components/hacs

# Storage allow-list
!.storage/counter
!.storage/input_boolean
!.storage/input_datetime
!.storage/input_number
!.storage/input_select
!.storage/input_text
!.storage/timer
!.storage/energy
!.storage/scheduler.storage
!.storage/lovelace_resources