# Allow-list
!*.yaml
!.gitignore
!*.md
!.HA_VERSION

# Disallow files
secrets.yaml
known_devices.yaml
security_system.yaml
.ps4*
id_rsa*

#Disallow config files
logs
*.log
__pycache__
*.pyc
home-assistant.*

# Disallow folders
.storage
.cloud
.ssh/
alarms
blueprints
image
tts
custom_components/hacs