# ██╗░░██╗░█████╗░███╗░░░███╗███████╗  ░█████╗░░██████╗░██████╗██╗░██████╗████████╗░█████╗░███╗░░██╗████████╗ #
# ██║░░██║██╔══██╗████╗░████║██╔════╝  ██╔══██╗██╔════╝██╔════╝██║██╔════╝╚══██╔══╝██╔══██╗████╗░██║╚══██╔══╝ #
# ███████║██║░░██║██╔████╔██║█████╗░░  ███████║╚█████╗░╚█████╗░██║╚█████╗░░░░██║░░░███████║██╔██╗██║░░░██║░░░ #
# ██╔══██║██║░░██║██║╚██╔╝██║██╔══╝░░  ██╔══██║░╚═══██╗░╚═══██╗██║░╚═══██╗░░░██║░░░██╔══██║██║╚████║░░░██║░░░ #
# ██║░░██║╚█████╔╝██║░╚═╝░██║███████╗  ██║░░██║██████╔╝██████╔╝██║██████╔╝░░░██║░░░██║░░██║██║░╚███║░░░██║░░░ #
# ╚═╝░░╚═╝░╚════╝░╚═╝░░░░░╚═╝╚══════╝  ╚═╝░░╚═╝╚═════╝░╚═════╝░╚═╝╚═════╝░░░░╚═╝░░░╚═╝░░╚═╝╚═╝░░╚══╝░░░╚═╝░░░ #

# ascii comment headers courtesy of https://fsymbols.com/generators/carty

# █▀▄ ▄▀█ ▀█▀ ▄▀█ █▄▄ ▄▀█ █▀ █▀▀ #
# █▄▀ █▀█  █  █▀█ █▄█ █▀█ ▄█ ██▄ #

# MariaDB 7 day history
recorder:
  db_url: !secret db_url
  purge_keep_days: 7
  exclude:
    domains:
      - automation
    entity_globs:
      - switch.adaptive*
      - sensor.*battery*

# █▀▀ █▀█ █▀▄▀█ █▀█ █▀█ █▄ █ █▀▀ █▄ █ ▀█▀ █▀ #
# █▄▄ █▄█ █ ▀ █ █▀▀ █▄█ █ ▀█ ██▄ █ ▀█  █  ▄█ #

# Core
default_config:
homeassistant:
  customize: !include customize.yaml
frontend:
  themes: !include_dir_merge_named themes
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
python_script:

# Templates
sensor: !include components/sensors.yaml
binary_sensor: !include components/booleans.yaml
template: !include components/templates.yaml
switch: !include components/switches.yaml

# Components
alarm_control_panel: !include components/security_system.yaml
homekit: !include components/homekit.yaml
light: !include components/lights.yaml
cover: !include components/covers.yaml
climate: !include components/thermostats.yaml
fan: !include components/fans.yaml
calendar: !include components/calendars.yaml
media_player: !include components/media_players.yaml
lock: !include components/locks.yaml
# alert: !include components/alerts.yaml #(WIP)